# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.VENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Python package files
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Secrets and credentials
*.env
.envrc
*.pem
*.key
